body {
    font-family: 'IBM Plex Serif';
    font-weight: lighter;
    margin: 0;
    background-color: blue;

 
    
}

.header {
    position: fixed;
    background-color: black;  
    width: 100%; 
   
}

h1 {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

a {
    color: white;
    text-decoration: none;
    
}

ul {
    float: right;
    display: block;
    padding: 20px;
    padding-right: 100px;
    
   
    
}

li {
    list-style: none;
    display: inline;
    padding-right: 5px;
    margin: 5px;
}

li a:hover {

    background: white;
    color: black;
}

h1 a:hover {

    background: black;
    color: #003B00;
}

.showcase {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background:url(code.webp) center center/cover;

}



footer {
    background-color: black;
    color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    position:absolute;


}


#warner {
    float: right;
    padding:5px;
    width: 5%;
    color:  blanchedalmond;
    background: black;
}

h6 {
    font-size: 0.5em;
    float: right;
}