body {
    font-family: 'IBM Plex Serif';
    font-weight: lighter;
    margin: 0;
    background-color: blue;

 
    
}

.header {
    position: fixed;
    background-color: black;  
    width: 100%; 
   
}

h1 {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    
}

a {
    color: white;
    text-decoration: none;
    
}

ul {
    float: right;
    display: block;
    padding: 20px;
    padding-right: 100px;
    
   
    
}

li {
    list-style: none;
    display: inline;
    padding-right: 5px;
    margin: 5px;
}

li a:hover {

    background: white;
    color: black;
}

h1 a:hover {

    background: black;
    color: #003B00;
}

.showcase {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background:url(code.webp) center center/cover;

}

.caixa-decision {
    width: 940px;
    margin-top: 60%;
    margin-bottom: 50%;

}

.caixa-decision li a {

display: block;
   
}



.blue {
  position: absolute;  
  display: inline-block;
  width: 10%;
  left: 40%;
  top: 30%;

}

.bluequote {
   text-align: center;
   font-size: 100%;
   text-shadow: 2px  2px 5px rgb(124, 163, 116);

}

.red {
    position: absolute;  
    display: inline-block;
    width: 8%;
    left: 41%;
    top: 60%;
  
  }
  
  .redquote {
      margin-top: 120px;
     text-align: center;
     font-size: 100%;
     text-shadow: 2px  2px 5px rgb(101, 109, 99);
  
  }

.caixa-sistema{
    
    width: 1080px;
    

}

#sistema{
    position: static;
    display: inline-block;
    margin-top: 10%;
    width: 55%;
    height: auto;
    margin-left: 20%;
    border-color: rgb(196, 192, 190);
    border-width: 2px;
    border-style: solid;
    border-radius:10%;
}
footer {
    background-color: black;
    color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    position:absolute;


}


#warner {
    float: right;
    padding:5px;
    width: 5%;
    color:  blanchedalmond;
    background: black;
}

h6 {
    font-size: 0.5em;
    float: right;
}



.logo-filme {
    display: inline;
    position: absolute;
    left: 35vw;
}